:2015

markdown {
	ext .md .markdown
	template /caddy/template.html
}

gzip {
	not /stream/
}

rewrite {
	r ^/$
	to index.html
}

redir index.html /README.md

rewrite {
	r ^/gitbook/(.+)$
	to /caddy/gitbook/{1}
}

status 403 {
	/.htaccess
	/.git
}

log stdout

errors stdout {
}
